:root{
    --blue: #30C3C0;
    --orange: #F3B138;
    --gray: #A8BEC9;
    --black: #1F3540;
    --background-black: #192A32;
}
.dont-click{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: transparent;
}

.winner-container{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}

    .winner-container .box-winner{
        background-color: var(--black);
        width: 100%;
        height: 170px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);   
        text-align: center;
        padding: 30px 0; 
    }
        .box-winner .name-winner{
            color: var(--gray);
            font-size: 18px;
        }
        .box-winner .title-winner{
            margin: 15px 0;
            display:flex;
            justify-content: center;
            align-items: center;
        }
            .box-winner .title-winner i{
                font-size: 50px;
                margin-right: 15px;
            }
            .box-winner .title-winner .fa-xmark{
                color: var(--blue);
            }
            .box-winner .title-winner .fa-o{
                color: var(--orange);
            }
            .box-winner .title-winner h1{
                color: var(--blue);
            }

            .buttons-winner button{
                cursor: pointer;
                border: 0;
                border-radius: 5px;
                padding: 15px;
                color: var(--black);
                font-weight: 900;
                margin: 10px 15px;
            }
            .buttons-winner .quit{
                background-color: var(--gray);
                box-shadow: 0 4px 0 #6C8997;
            }
            .buttons-winner .next{
                background-color: var(--orange);
                box-shadow: 0 4px 0 #CA8B14;
            }

.play{
    width: 380px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 35px;
}
    .top .symbol{
        margin: 0 5px;
    }

    .top .turn{
        background-color: var(--black);
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--gray);
        padding: 0 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 0 #102129;
    }
        .top .turn i{
            margin-right: 8px;
            font-size: 20px;
        }
        .top .turn p{
            font-weight: 800;
        }

    .top button{
        width: 35px;
        height: 100%;
        cursor: pointer;
        background-color: var(--gray);
        border: 0;
        border-radius: 5px;
        box-shadow: 0 4px 0 #6C8997;
    }
        .top button i{
            color: var(--black);
            font-size: 16px;
        }

.middle{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
}
    .middle button{
        width: 110px;
        height: 110px;
        margin-bottom: 25px;
        cursor: pointer;
        background-color: var(--black);
        border: 0;
        box-shadow: 0 5px 0 #102129;
        border-radius: 5px;
    }
        .middle button i{
            font-size: 80px;
        }
        .middle button .fa-xmark{
            color: var(--blue);
            padding: 15px 31px;
        }
        .middle button .fa-o{
            padding: 15px 20px;
            color: var(--orange);
        }

.bot{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}   
    .bot div{
        border-radius: 5px;
        text-align: center;
        padding: 5px 0;
        width: 110px;
    }
        .bot div p{
            font-size: 13px;
        }
        .bot div strong{
            font-size: 24px;
        }
        .bot div .person{
            display: flex;
            justify-content: center;
            padding: 0;
        }
            .bot div .person p{
                margin: 0 2px;
            }
    .bot .score-x{
        background-color: var(--blue);
        
    }
    .bot .ties{
        background-color: var(--gray);
    }
    .bot .score-o{
        background-color: var(--orange);
    }

.animation-top{
    animation-name: animation-top;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes animation-top {
    from{
        transform: translateY(-2000%);
    }
    to{
        transform: translateY(0);
    }
}

.animation-middle{
    animation-name: animation-middle;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes animation-middle {
    from{
        transform: translateX(2000%);
    }
    to{
        transform: translateX(0);
    }
}

.animation-bot{
    animation-name: animation-bot;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes animation-bot {
    from{
        transform: translateX(-2000%);
    }
    to{
        transform: translateX(0);
    }
}

.winner-animation{
    animation-name: winner-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes winner-animation {
    0%{
        transform: scale(1);
        color: var(--black);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
        color: var(--black);
    }
}

/*RESPONSIVE*/
@media (max-width: 420px){
    .play{
        width: 270px;
    }
    .middle button{
        width: 78px;
        height: 78px;
        margin-bottom: 18px;
    }
    .bot div{
        width: 78px;
    }
}