:root{
    --blue: #30C3C0;
    --orange: #F3B138;
    --gray: #A8BEC9;
    --black: #1F3540;
    --background-black: #192A32;
}
.play{
    width: 380px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 35px;
}
    .top .symbol{
        margin: 0 5px;
    }

    .top .turn{
        background-color: var(--black);
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--gray);
        padding: 0 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 0 #102129;
    }
        .top .turn i{
            margin-right: 8px;
            font-size: 20px;
        }
        .top .turn p{
            font-weight: 800;
        }

    .top button{
        width: 35px;
        height: 100%;
        cursor: pointer;
        background-color: var(--gray);
        border: 0;
        border-radius: 5px;
        box-shadow: 0 4px 0 #6C8997;
    }
        .top button i{
            color: var(--black);
            font-size: 16px;
        }

.middle{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
}
    .middle button{
        width: 110px;
        height: 110px;
        margin-bottom: 25px;
        cursor: pointer;
        background-color: var(--black);
        border: 0;
        box-shadow: 0 5px 0 #102129;
        border-radius: 5px;
    }
.bot{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}   
    .bot div{
        border-radius: 5px;
        text-align: center;
        padding: 5px 0;
        width: 110px;
    }
        .bot div p{
            font-size: 13px;
        }
        .bot div strong{
            font-size: 24px;
        }
        .bot div .person{
            display: flex;
            justify-content: center;
            padding: 0;
        }
            .bot div .person p{
                margin: 0 2px;
            }
    .bot .score-x{
        background-color: var(--blue);
        
    }
    .bot .ties{
        background-color: var(--gray);
    }
    .bot .score-o{
        background-color: var(--orange);
    }


/*RESPONSIVE*/
@media (max-width: 420px){
    .play{
        width: 270px;
    }
    .middle button{
        width: 78px;
        height: 78px;
        margin-bottom: 18px;
    }
    .bot div{
        width: 78px;
    }
}