<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito+Sans:wght@600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/48351f586e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/css/style.css">
    <link rel="stylesheet" href="/styles/css/play.css">
    <title>Tik Tak Toe!!!</title>
</head>
<body>
    <div class="container">
        <!--START GAME-->
        <section class="start">

            <div class="symbol-and-select">
                <div class="symbol"><i class="fa-solid fa-xmark"></i> <i class="fa-solid fa-o"></i></div>

                <div class="select-symbol transition-start">
                    <p class="text-pick">PICK PLAYER 1'S MARK</p>

                    <div class="pick-symbol">
                        <div id="btn-color" ></div>
                        <button class="btn-x"><i class="fa-solid fa-xmark" id="symbolX"></i></button>
                        <button class="btn-o"><i class="fa-solid fa-o" id="symbolO"></i></button>
                    </div>
                    
                    <p class="remember">REMEMBER: X GOES FIRST</p>
                </div>
            </div>

            <div class="buttons">
                <button class="cpu vs-cpu"><p class="cpu">NEW GAME (VS CPU)</p></button>
                <button class="player vs-player"><p class="player">NEW GAME (VS PLAYER)</p></button>
            </div>
        </section>

        <!--PLAY-->
        <section class="play enable">
            <div class="top">
                <div class="symbol"><i class="fa-solid fa-xmark"></i> <i class="fa-solid fa-o"></i></div>
                <div class="turn"><i class="fa-solid fa-xmark turn-x"></i> <i class="fa-solid fa-o turn-o enable"></i><p>TURN</p></div>
                <button class="reload"><i class="fa-solid fa-rotate-right"></i></button>
            </div>

            <div class="middle">
                <button class="btn-1 btn-box"><i class="fa-solid fa-xmark x-1 enable symbol-mid"></i> <i class="fa-solid fa-o o-1 enable symbol-mid"></i></button>
                <button class="btn-2 btn-box"><i class="fa-solid fa-xmark x-2 enable symbol-mid"></i> <i class="fa-solid fa-o o-2 enable symbol-mid"></i></button>
                <button class="btn-3 btn-box"><i class="fa-solid fa-xmark x-3 enable symbol-mid"></i> <i class="fa-solid fa-o o-3 enable symbol-mid"></i></button>
                <button class="btn-4 btn-box"><i class="fa-solid fa-xmark x-4 enable symbol-mid"></i> <i class="fa-solid fa-o o-4 enable symbol-mid"></i></button>
                <button class="btn-5 btn-box"><i class="fa-solid fa-xmark x-5 enable symbol-mid"></i> <i class="fa-solid fa-o o-5 enable symbol-mid"></i></button>
                <button class="btn-6 btn-box"><i class="fa-solid fa-xmark x-6 enable symbol-mid"></i> <i class="fa-solid fa-o o-6 enable symbol-mid"></i></button>
                <button class="btn-7 btn-box"><i class="fa-solid fa-xmark x-7 enable symbol-mid"></i> <i class="fa-solid fa-o o-7 enable symbol-mid"></i></button>
                <button class="btn-8 btn-box"><i class="fa-solid fa-xmark x-8 enable symbol-mid"></i> <i class="fa-solid fa-o o-8 enable symbol-mid"></i></button>
                <button class="btn-9 btn-box"><i class="fa-solid fa-xmark x-9 enable symbol-mid"></i> <i class="fa-solid fa-o o-9 enable symbol-mid"></i></button>
            </div>

            <div class="bot">
                <div class="score-x">
                    <div class="person">
                        <p>X</p><p class="player-1">(YOU)</p>
                    </div>
                    <strong id="score-p1">0</strong>
                </div>
                <div class="ties"><p>TIES</p><strong id="score-ties">0</strong></div>
                <div class="score-o">
                    <div class="person">
                        <p>O</p><p class="player-2">(CPU)</p>
                    </div>
                    <strong id="score-p2">0</strong>

                </div>
            </div>
        </section>

        <div class="dont-click enable">
            
        </div>
        <div class="winner-container enable">
            <div class="box-winner">
                <p class="name-winner">who win</p>
                <div class="title-winner">
                    <i class="fa-solid fa-xmark x-winner"></i> <i class="fa-solid fa-o enable o-winner"></i> <h1 class="take">TAKES THE ROUND</h1>
                </div>
                <div class="buttons-winner">
                    <button class="quit">QUIT</button>
                    <button class="next">NEXT ROUND</button>
                </div>
            </div>
        </div>

    </div>
    

<script type="module" src="/styles/js/main.js"></script>
<script type="module" src="/styles/js/start.js" ></script>
</body>
</html>